{%  extends "index.html" %}
{% block content %}
    <div class="content">
        <h1>Smart Farmer <br> <span>Association</span> <br>Network</h1>
        <p class="par">We are a trusted organization for collecting and matketing <br> your milk produce.
        <br>We ensure proper recording and timely payment for our customers </p>

        <button class="cn"><a href="">Join Us</a></button>

        <div class="form">
            <h2>Control Login</h2>
            <input type="email" name="email" placeholder="Enter Your Email Here">
            <input type="password" name="" placeholder="Enter Your Password">
            <button class="btnn"><a href="/CONTROLDASH"> Login</a></button>

            <p class="link">Don't Have an Account<br>
            <a href="#">Sign Up Here</a></p>
            <p class="liw">Log in with</p>
        </div>
    </div>
{% endblock content %}
