<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart Farmer</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">M-Farmer</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/SERVICES">SERVICES</a></li>
                    <li><a href="/ADMIN">ADMIN</a></li>
                    <li><a href="/CONTROL">CONTROL</a></li>
                    <li><a href="/CUSTOMER">CUSTOMER</a></li>
                </ul>
            </div>
         
        </div>
        {%  block content %} {% endblock %}
      
    </div>
    
</body>
</html>
